# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Shell scripts
[*.{sh,bash,zsh}]
indent_style = space
indent_size = 2
binary_next_line = true  # for shfmt: place operators like && on the next line
switch_case_indent = true  # for shfmt: indent cases

# Makefile requires tab indentation
[Makefile]
indent_style = tab

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# YAML files
[*.{yaml,yml}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2
